<h3>    <%= @list_header %> </h3>
<%= link_to 'New quest', new_quest_path %>
<br/>
<% if @quests.empty? then %>
We are out of quests! <%= link_to 'Create a new quest!', new_quest_path %> for others!
<% else %>
<table>
  <tr>
    <th>Quest</th>
    <th><%= image_tag "dollar.png" %></th>
        <th><%= image_tag "heart.png" %></th>
            <th><%= image_tag "star.png" %></th>
  </tr>
<% @quests.each do |quest| %>
  <tr>
    <td><%= link_to quest.name, quest %></td>
    <td><%= if quest.cash_reward_amount then image_tag "check_green.png" end %></td>
    <td><%= if quest.point_reward_amount then image_tag "check_red.png" end %></td>
    <td><%= if !quest.special_reward_description.blank? then image_tag "check_yellow.png" end %></td>
  </tr>
<% end %>
</table>
<% end %>