<h1><%= @quest.name %></h1>
<br/>Created by  <%= @quest.created_by.email %> on <%= @quest.created_at.to_date %> at <%= @quest.created_at.strftime('%H:%M:%S') %>
<br/><%= @quest.description %>
<br/><%= link_to 'Edit', edit_quest_path(@quest) %>
<br/><%= link_to 'Remove', @quest, :confirm => 'Are you sure?', :method => :delete %>
<br/><%= link_to 'Show All Quests', quests_path %>
