<%= form_tag root_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => "search_near" %>
    <%= submit_tag "Show All", :name => "show_all" %>
  </p>
<% end %>


<h3>    <%= @list_header %> </h3>
<% if @quests.empty? then %>
Try another search!
<% else %>
<%= gmaps4rails(@json) %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
<% @quests.each do |quest| %>
  <tr>
    <td><%= quest.name  %></td>
    <td><%= quest.description %></td>
    <td><%= link_to 'Show', quest %></td>
  </tr>
<% end %>
</table>
<% end %>
 
<br/>
<%= link_to 'Create a new quest', new_quest_path %>



