<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <div id="notice">
          <% if !notice.nil? %>
            <p class="notice"><%= notice %></p>
          <% end %>
        </div>
        <div id="alert">
          <% if !alert.nil? %>
            <p class="alert"><%= alert %></p>
          <% end %>
        </div>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
