<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :all %>
    <%= yield :head %> 
  </head>
  <body>
    
      <%= render 'layouts/header' %>
      
      <div class="container">
      
            <p>This is the top of the page!</p><p>&nbsp</p><p>&nbsp</p>
            
            <% flash.each do |key, value| %>
              <div id="flash <%= key %>" class="flash <%= key %>"><%= value %></div>
            <% end %>
        
            <%= yield %>
        
      </div>
      
      <%= render 'layouts/footer' %>
      <%= yield :scripts %>
      <%= debug(params) if Rails.env.development? %>
  </body>
</html>
